@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap);

:root {
    --primary-color: #007FFF;
    --secondary-color: #ff3700ee;
    --accent1-color: #F7D842;
    --accent2-color: #F76F8E;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;

    --nav-background-color: #FFFFFF;
    --nav-link-color: #333333;
    --nav-hover-link-color: #F7D842;
    --nav-hover-background-color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    text-align: justify;
}

a:link {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Hero */
.hero {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #000;
    border-bottom-style: inset;

}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
}

.hero article {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    padding: 20px;
    opacity: 0.9;
}

.hero article .article-img {
    float: right;
    margin: 0 0 20px 20px;
}

.hero article p {
    font-size: 1.0rem;
    color: #ffffff;
    text-align: justify;
}

/* HISTORY */
.history {
    text-align: center;
    border-top: 2px #333 outset;
    border-bottom: 2px #333 inset;
}

.history h2 {
    font-size: 3rem;
    margin-top: 50px;
}

.history-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.history-content .left {
    flex: 1;
    text-align: center;
}


.history-content .middle img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 5px;
}

.history-content .right {
    flex: 1;
    text-align: center;
}

.history-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 50px;
}


/* Container */
.container {
    max-width: 12000px;
    margin: 0 auto;
}

/* footer */
footer {
    display: flex;
    border-top: 2px #000 inset;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.sociallinks {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.sociallinks img {
    height: 25px;
    margin-left: 10px;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 2px solid #333;
    border-bottom-style: outset;

}

header img {
    margin: 20px;
    height: 3rem;

}

nav {
    text-align: right;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}

.navigation a:hover {
    background-color: #f1f1f1;
}

/* contact */

.info p {
    text-align: center;
}

/* employee */

.employees {
    text-align: center;
    max-width: 100%;
}

.employee-image {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.employee-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.employee-image p {
    margin: 0;
    font-weight: bold;
}

/* form */
form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    text-align: right;
    margin-bottom: 6px;
    font-weight: bold;
}

fieldset {
    display: block;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.1em;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 0.5rem;
    margin-bottom: 16px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

input {
    padding: 1rem;
}

button {
    margin: .5rem auto;
    width: 100%;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}